<h3>Measure {{ measure.number }}</h3>
<div class="subtitle">{{ measure.title }}</div>
<div class="divided-section">
  <text-blurb title="Full Ballot Text" body="{{measure.full_text}}"></text-blurb>
</div>
<div class="divided-section">
  <h4>Money Supporting the Measure</h4>
  <div>
    <span><a ui-sref="appMain.measure.supporting">{{ measure.supporting_count }} supporting committee(s)</a></span>
  </div>
</div>
<div class="divided-section">
  <h4>Money Opposing the Measure</h4>
  <div>
    <span><a ui-sref="appMain.measure.opposing">{{ measure.opposing_count }} opposing committee(s)</a></span>
  </div>
</div>
