<div class="container">
  <div class="row">
    <h3>Measure {{ measure.number }}</h3>  
  </div>
  <div class="row">
    <div class="subtitle ">{{ measure.title }}</div>  
  </div>
</div>

<div class="divided-section container">
  <text-blurb title="Ballot Abstract" body="{{measure.summary}}"></text-blurb>
</div>
<div class="divided-section container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Money Supporting the Measure</h4>
    </div>
    <div class="col-xs-12 text-center text-semibold measure-listing__amount">
      <h4>$1,556,456</h4>
    </div>  
  </div>
  <money-origin-chart measure-side="supporting" geos="measure.supporting_geos"></money-origin-chart>
  <div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <a ui-sref="appMain.measure.supporting">
          <span>{{ measure.supporting_count }} supporting committee(s)</span>
          <span class="fa fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="divided-section container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Money Opposing the Measure</h4>  
    </div>
    <div class="col-xs-12 text-center text-semibold measure-listing__amount">
      <h4>$56,858</h4>
    </div>  
  </div>

  <money-origin-chart measure-side="opposing" geos="measure.opposing_geos"></money-origin-chart>
  <div class="row">
    <div class="col-xs-12 text-right">
      <a ui-sref="appMain.measure.opposing">
        <span>{{ measure.opposing_count }} opposing committee(s)</span>
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
