<div class="text-blurb clearfix">
    <h4 class="text-blurb_title">{{textBlurb.title}}</h4>
    <div class="text-blurb_body_container" ng-class="{collapsed: textBlurb.isCollapsed}">
        <div class="text-blurb_body">{{textBlurb.body}}</div>
        <!-- Keeping this lorem ipsum text here for testing until we get measure text -->
        <!-- <div class="text-blurb_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus aliquet mauris. Suspendisse ultrices posuere augue, sit amet laoreet urna consectetur eu. Curabitur nulla est, tristique quis dictum vitae, vestibulum posuere nulla. Nam sit amet risus velit. Donec molestie commodo ornare. Vivamus efficitur mattis augue, quis viverra lorem tincidunt sit amet. Vestibulum eleifend ultricies dignissim. Nullam luctus ante justo, eget pretium risus eleifend at. Pellentesque faucibus odio ac massa pharetra varius. Nulla sit amet sem eu nibh scelerisque mollis. Etiam nulla leo, efficitur eu odio ut, bibendum porta tellus.</div> -->
    </div>
    <div class="text-blurb_action-row">
        <a href="" class="pull-right" ng-click="textBlurb.isCollapsed = false" ng-if="textBlurb.isCollapsed && textBlurb.showButtons">
            Read More <span class="fa fa-chevron-right"></span>
        </a>
        <a href="" class="pull-right" ng-click="textBlurb.isCollapsed = true" ng-if="!textBlurb.isCollapsed && textBlurb.showButtons">
            Hide <span class="fa fa-chevron-up"></span>
        </a>        
    </div>
</div>