<div class="candidate-page">
  <div class="candidate-profile">
    <h2>{{ $ctrl.candidate.name }}</h2>
    <div class="candidate-profile__info">
      <div class="candidate-profile__photo">
        <img ng-src="{{ $ctrl.candidate | candidate_photo }}" alt="{{ $ctrl.candidate.name }}">
      </div>
      <div class="candidate-profile__info-content">
        <div ng-if="$ctrl.candidate.is_incumbent" class="text-serif text-grey-4">Incumbent</div>
        <div class="candidate-profile__website"><a ng-href="{{ $ctrl.candidate.website_url }}">{{ $ctrl.candidate.website_url }}</a></div>
        <div class="candidate-profile__twitter"><a ng-href="https://twitter.com/{{ $ctrl.candidate.twitter_url }}">{{ $ctrl.candidate.twitter_url }}</a></div>
        <div class="candidate-profile__voters-edge"><a ng-href="{{ $ctrl.candidate.votersedge_url }}">Voter's Edge Summary</a></div>
      </div>
    </div>
    <div class="candidate-profile__bio">{{ $ctrl.candidate.bio }}</div>
  </div>
  <div ng-if="!$ctrl.supporting.total_contributions" class="divided-section">
    <p class="text-grey-4">No campaign finance data available</p>
  </div>
  <div ng-if="$ctrl.supporting.total_contributions">
    <div class="divided-section">
      <div class="candidate__money candidate__money--contributions">
        <span class="candidate__money-header">Contributions</span>
        <span class="money">{{ $ctrl.supporting.total_contributions | dollar }}</span>
      </div>
      <div class="candidate__money candidate__money--expenditures">
        <span class="candidate__money-header">Expenditures</span>
        <span class="money">-{{ $ctrl.supporting.total_expenditures | dollar }}</span>
      </div>
      <div class="candidate__money candidate__money--current-balance">
        <span class="candidate__money-header">Current balance</span>
        <span class="money">{{ $ctrl.current_balance | dollar }}</span>
      </div>
    </div>
   </div>
  <div ng-if="$ctrl.supporting.total_contributions" class="divided-section is-off-screen" when-visible="$ctrl.onVisible">
    <span class="text-serif text-grey-4">Money coming in</span>
    <h3>Contributions</h3>
    <div>
      <div class="component__heading" ng-repeat-start="(label, amount) in $ctrl.contributions_by_type_percentages">{{ label }}</div>
      <odca-money-bar-chart value="{{ amount }}" max="1000" precision="1" format="percentage" color="green" ng-repeat-end></odca-money-bar-chart>
    </div>
    <div class="see-more" ng-if="$ctrl.supporting.total_contributions > 0">
      <a class="see-more__content" ui-sref="appMain.committee.main({filer_id: $ctrl.candidate.filer_id})">See all <span class="text-no-break">contributions<span class="fa fa-chevron-right"></span></span></a>
    </div>
    <div class="see-more" ng-if="!($ctrl.supporting.total_contributions > 0)">
      No data on contributions
    </div>

  </div>
  <div ng-if="$ctrl.supporting.total_expenditures" class="divided-section is-off-screen" when-visible="$ctrl.onVisible">
    <span class="text-serif text-grey-4">Money going out</span>
    <h3>Expenditures</h3>
    <div>
      <div class="component__heading" ng-repeat-start="(label, amount) in $ctrl.supporting.expenditures_by_type">{{ label }}</div>
      <odca-money-bar-chart value="{{ amount }}" max="{{ $ctrl.supporting.total_expenditures }}" format="money" color="red" ng-repeat-end></odca-money-bar-chart>
    </div>
  </div>

  <div ng-if="$ctrl.supporting.supporting_money.supporting_expenditures" class="divided-section is-off-screen" when-visible="$ctrl.onVisible">
    <h3>
      Expenditures by Independent Committees supporting:
      {{ $ctrl.supporting.supporting_money.supporting_expenditures | dollar }}
    </h3>
    <div class="see-more" >
      <a class="see-more__content" ui-sref="appMain.committee.supporting({filer_id: $ctrl.candidate.filer_id})">See supporting <span class="text-no-break">committees<span class="fa fa-chevron-right"></span></span></a>
    </div>
    <div>
      <div class="component__heading" ng-repeat-start="(label, amount) in $ctrl.supporting.supporting_money.supporting_by_type">{{ label }}</div>
      <odca-money-bar-chart value="{{ amount }}" max="{{ $ctrl.supporting.supporting_money.supporting_expenditures }}" format="money" color="red" ng-repeat-end></odca-money-bar-chart>
    </div>
  </div>

  <div ng-if="$ctrl.candidate.opposing_money.opposing_expenditures">
   <h3>
      Expenditures by Independent Committees opposing:
      {{ $ctrl.candidate.opposing_money.opposing_expenditures | dollar }}
   </h3>
    <div class="see-more" >
      <a class="see-more__content" ui-sref="appMain.committee.opposing({filer_id: $ctrl.candidate.filer_id})">See opposing <span class="text-no-break">committees<span class="fa fa-chevron-right"></span></span></a>
    </div>
   <div class="component__heading" ng-repeat-start="(label, amount) in $ctrl.candidate.opposing_money.opposing_by_type">{{ label }}</div>
      <odca-money-bar-chart value="{{ amount }}" max="{{ $ctrl.candidate.opposing_money.opposing_expenditures }}" format="money" color="blue" ng-repeat-end></odca-money-bar-chart>
  </div>
</div>
