sudo: false
language: node_js
node_js:
- '4'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

env:
  global:
  - secure: "N5uh3sI24VBF9zoAFpS9x6Xfu4R70xFD5CVU/LWVTn+Nw4UkzkKdYy9pnaR1yI/YEsMCkWNs6YCQP8FaIi5VQLMLjHYjYNwp+pxHPCWi1d5PAQi7eX+PNqokSuhDiw2pZzXKACcKsLevx+m6Ad8KdSF3spc6zaoTwmw6K6xVVqiQ5/TcidUcIM8eT3l6pu6sgG/OLxo4S+b/tY9+ZovkNq9zO/1xzW/nkTsHd84L5H3emlo97InVLOoRockbajtqY2CaFR0QWHbcBu+95QXu9/ZKCCPj1igHEZpLx4WEQd+uhQFTp5SszZinOvsHkanO6r+ULmB0YLQ7MbTSLJKSyTPD0OuFV71Bqzcat91Hssksv7hzJ8igqdefMUivlz+3I4af5EzkBvwHDlpDK5r4EJT6lqrrJC4/nDZPIu/EozdLHgtWMNWp8J0Tf9t9skamdboW5SCLkwBGazaZoShQDOUMFj4H44I6Qc358TvDMbz8zEv4B8YXRip4KLl0mOMwBMfbw7U42zm0aTrI19tnyStpBFE22rw1P4PxDXRH28JY9ikemWQOnrLo0yQjjwsPWAxj8PcKFXP54iYQZ5HS7NnvC+AyrOtR2DdTakqJCh3qFAmiwUI2YUTlDc8WCn7jUXs63IiKqZ+0d/1yEpy/A6MjlxGu7M7XsFEfpZCOo7Q=" # GITHUB_TOKEN

before_install:
- npm install -g npm@3.7.5
- npm --version

install:
- npm install
- npm install -g gulp

deploy:
  provider: script
  script: ./deploy.sh
  skip_cleanup: true
  on:
    branch: master
