<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<odca-page-header page-title="{{locale.localeName}}" next-election="{{locale.nextElectionDate}}"></odca-page-header>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row bg-white">
		<div class="col-xs-12 col-sm-4 localePage-electionsListContainer">
			<locale-upcoming-elections-list locale-id="locale.localeId" locale-type="locale.localeType"></locale-upcoming-elections-list>
		</div>
		<div class="col-xs-12 col-sm-8">
			<!--TODO: Fix breadcrumb problem caused by adding this view in-->
			<div class="localePage-electionTypePageContainer" ui-view></div>
		</div>
	</div>
</div>


<!--<{{ctrl.localeType}}-page></{{ctrl.localeType}}-page>-->
<!--{{ctrl.pageElement}}-->
