<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<odca-page-header page-title="{{locale.localeName}}" next-election="{{locale.nextElectionDate}}"></odca-page-header>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<locale-upcoming-elections-list locale-id="locale.localeId" locale-type="locale.localeType"></locale-upcoming-elections-list>
		</div>
			<div ui-view></div>
	</div>
</div>


<!--<{{ctrl.localeType}}-page></{{ctrl.localeType}}-page>-->
<!--{{ctrl.pageElement}}-->
