<h3>Total Money in the Election</h3>
<div class="divided-section">
  <p>How much money has been contributed to all of {{ locality.name }} elections right now?</p>
  <div>
    <span class="locality-money_contribution-total money">{{ disclosureSummary.contribution_total | currency:$:0 }}</span>
  </div>
  <div contribution-type-breakdown="disclosureSummary.contribution_by_type"></div>
</div>
<div class="divided-section">
  <p>Where is the money coming from?</p>
  <div contribution-area-breakdown="disclosureSummary.contribution_by_area"></div>
</div>
