<div class="container-fluid">
	<odca-page-header page-title="{{example.pageTitle}}"></odca-page-header>

  <div class="row">
    <div class="col-xs-12">
      <odca-contributions-category-table category="Individual" total-contributions="example.contributionTotals" contributions="example.gridOptions5"></odca-contributions-category-table>
      </div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p class="lead"><em>Notes:</em></p>
			<pre>NAME = {{example.pageData.name}}<br>TYPE = {{example.pageData.type}}<br>ID = {{example.pageData.id}}<br>
			</pre>

			<p>{{example.pageData.name}}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">

			<odca-link-list list-title="A List Title!" list-data="example.ballot1.data"></odca-link-list>

			<odca-link-list list-data="example.ballot2.data"></odca-link-list>
		</div>
	</div>
	
	<div class="divided-section row">
		<div class="col-xs-12">
			<odca-bar-chart label="Within Oakland" value="56"></odca-bar-chart>
		</div>
		<div class="col-xs-12">
			<odca-bar-chart label="Outside Oakland" value="34"></odca-bar-chart>
		</div>
	</div>
</div>
