<div class="container">
	<odca-page-header page-title="{{pageTitle}}"></odca-page-header>
  <div class="row">
    <div class="col-xs-12">
      <h1>Example Page #1!</h1>
      <h2>{{exampleContents1}}</h2>
      <br><br>
      <p class="lead"><em>Notes:</em></p>
      <p class="lead">{{paragraphText}}</p>

      <pre>
        NAME = {{pageData.name}} <br>
        TYPE = {{pageData.type}} <br>
        ID = {{pageData.id}} <br>
      </pre>

      <p>{{pageData.name}}</p>
    </div>
  </div>
</div>
