/* =======================================================================
  Custom App Colors
======================================================================= */
@white: #fff;
@blueGray50: #ECEFF1;
@HeaderLightGreyBorderColor: #efefef;

@core-grey-1: #303030;
@core-grey-2: #555555;
@core-grey-3: #808080;  //used in italic page and module subheaders
@core-grey-4: #909090;
@core-grey-5: #f0f0f0;

@core-red-3: #e95300; //Used for opposing ballot measures

@color-blue: #006ea3;
@color-gold: #ffdd1f;
@color-gold-bg: #ffffcc;
@color-green: #0fc48b;
@color-red: #e95300;

@bodyTextColor: @core-grey-1;
@linkTextColor: @color-blue;
@titleTextColor: @core-grey-2; //same as headings color...
