@cfa-title-text-color: @core-grey-1;

@cfa-brand-border: 5px solid @brand-warning;

.cfa-contentBlock {
	background-color: @white;
	padding: 10px;
	box-sizing: border-box;
}

.cfa-contentBlock--singleItem {
	border-top: @cfa-brand-border;
	.cfa-contentBlock;
}