/* =======================================================================
  Custom Mixins
======================================================================= */
.divided-section {
  .odca-border;
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
}

.odca-border {
  border-top: 2px solid @color-gold;
}
