.page-fade {
	transition: 1s linear all;
	-webkit-transition: 1s linear all;
}

.page-fade.ng-enter {
	opacity: 0;
}

.page-fade.ng-enter.ng-enter-active {
	opacity: 1;
}

.page-fade.ng-leave {
	opacity: 1;
}

.page-fade.ng-leave.ng-leave-active {
	opacity: 0;
}