/* =======================================================================
    Style References
======================================================================= */
@import "fonts";
@import "colors.less";
@import "custom-bs-variables";
@import "custom_mixins";
@import "pageTransitions";
@import "core";
@import "contentBlock";
@import "utilities";

/* =======================================================================
    Base Elements
======================================================================= */

body {
  line-height: 20px;
}


/* ==========================================================================
    Manual Resets
========================================================================== */
.navbar-inverse {
    .navbar-brand:focus {
          color: #9d9d9d;
    }
}


/* ==========================================================================
    Core Layout
========================================================================== */



/* ==========================================================================
    Header
========================================================================== */
@import "../appMainNav/appMainNav";


/* ==========================================================================
    Footer
========================================================================== */
@import "../appMainFooter/appMainFooter";


/* ==========================================================================
    Forms
========================================================================== */



/* ==========================================================================
    Buttons
========================================================================== */



/* ==========================================================================
    Notifications
========================================================================== */



/* ==========================================================================
    UI Elements
========================================================================== */
.divided-section {
  .divided-section;
}

.subtitle {
  .h4;
  color: @core-grey-3;
  font-size: @font-size-h5;
}

.money {
  font-family: @font-family-serif;
}

.see-more {
  .clearfix();
  color: @core-grey-4;
  margin: 1rem 0;
  text-align: right;

  .see-more__chevron {
  }
}

.section-header {
  color: @core-grey-3;

  .section-header__subtext {
    color: @core-grey-2;
    margin-left: 5rem;
  }
}

.section {
  border-top: 2px solid #ffdd1f;
  padding: 0 2rem;

  &:first-child {
    border-top: none;
  }
}

.odca-list {
  padding-left: 0;
  margin: -1rem; // TODO remove the padding on divided-section
}

.odca-list-item {
  &:extend(.text-large);
  border-top: 1px solid @body-bg;
  list-style: none;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: @body-bg;
  }

  .odca-list-item__link {
    display: inline-block;
    height: 100%;
    padding: 1.5rem;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  .odca-list-item__content {
    &:extend(.text-semibold);
    color: @core-grey-2;
    float: left;
    line-height: 2.4rem;
    width: calc(100% - 2rem);
  }

  .odca-list-item__chevron {
    float: right;
    width: 1.5rem;
  }
}
