<app-main-nav></app-main-nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 class="serif">Open Disclosure<br><span class="homepageText-header-brandPrimary">California</span></h1>
        <p class="homepageText-subheader">Bringing Campaign Money to Light</p>
      </div>
    </div>
  </div>
</div>

<div class="container homepageSearchContainer">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <p class="homepageText-body">Search zipcode, city, or county</p>
       <odca-global-search-bar></odca-global-search-bar>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-8 col-sm-offset-2">-->
      <!--<input ng-model="search" type="text" />-->
      <!--<ul>-->
        <!--<li ng-repeat="locality in searchResults">-->
          <!--<a ui-sref="appMain.locality.money({locality_id: locality.id})" ng-click="logClickEvent($event)">-->
            <!--{{locality.id}}, {{locality.name}}</a>-->
        <!--&lt;!&ndash; <li ng-repeat="location in searchResults"> &ndash;&gt;-->
          <!--&lt;!&ndash; <a ui-sref="appMain.locality.money({locality_id: location.id })">{{ location.name }}</a> &ndash;&gt;-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>

<app-main-footer class="homepageFooter"></app-main-footer>
