<a href="{{vm.linkUrl}}" class="linkList-item--link" target="_blank">
	<li class="linkList-listItem">
		<img src="{{vm.avatarImageUrl}}" class="linkList-listItem--avatarImage" alt="" />
		<div class="linkList-listItem--textBlock">
			<div>
				<span class="linkList-listItem--title">{{vm.linkTitle}}</span>
				<span class="linkList-listItem--icon"></span>
			</div>
			<div>
				<span class="linkList-listItem--subtitle">{{vm.linkSubTitle}}</span>
				<span class="linkList-listItem--dollarAmount">{{vm.linkDollarAmount}}</span>
			</div>
		</div>
	</li>
</a>