<div class="city-module">
  <h2>{{ city.location.name }}</h2>
  <h4>Next Election: {{ city.location.next_election }}</h4>
  <ul class="nav nav-tabs">
    <li class="tab active"><a ui-sref="appMain.city.money">Total Money To-date</a></li>
    <li class="tab"><a ui-sref="appMain.city.elections">Upcoming Elections</a></li>
  </ul>
  <h3>Total Money in the Election</h3>
  <div class="section">
    <p>How much money has been contributed to all of {{ city.location.name }} elections right now?</p>
    <div>
      <span>{{ city.contribution_total }}</span>
    </div>
    <div contribution-type-breakdown="city.contribution_by_type"></div>
  </div>
  <div class="section">
    <p>Where is the money coming from?</p>
    <div contribution-area-breakdown="city.contribution_by_area" location="city.location"></div>
  </div>
</div>

