<footer class="appMainFooter">

	<div class="container-fluid">
		<div class="row text-center appMainFooter-row">
			<div class="col-xs-8 col-xs-offset-2">
				<p class="appMainFooter-taglineText"><em>Brought to you by <a>California Civic Lab</a></em></p>
			</div>
		</div>

		<div class="row text-center appMainFooter-row appMainFooter-row--pageLinks">
			<div class="col-xs-8 col-xs-offset-2">
				<ul class="list-inline appMainFooter-linksList">
					<li><a ui-sref="appMain.about" class="appMainFooter-linksList--link" title="About">About</a></li>
					<li><a ui-sref="appMain.faq" class="appMainFooter-linksList--link" title="FAQ">FAQ</a></li>
				</ul>
			</div>
		</div>
	</div>

</footer>