.appMainFooter {
  background-color: @body-bg;
  position: relative;
  width: 100%;
  min-height: 20px;
  margin-top: 15px;
  box-sizing: border-box;
}

.appMainFooter-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.appMainFooter-row--pageLinks {
  background-color: darken(@body-bg, 3%);
}

.appMainFooter-taglineText {
  &:extend(.serif);
  color: @headings-color;
  margin-bottom: 6.5px;
  cursor: pointer;
}

.appMainFooter-linksList {
  margin-bottom: 0;
}

.appMainFooter-linksList--link {
  color: lighten(@headings-color, 15.5%);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: @headings-color;
    text-decoration: none;
  }
}


