<footer class="appMainFooter">

  <div class="container">
    <div class="row appMainFooter-row">
      <div class="col-xs-6">
        <div class="appMainFooter__brand">
          <a ui-sref="home"><span class="text-grey-2">OD</span>Ca</a>
        </div>
        <ul class="appMainFooter-linksList">
          <li><a ui-sref="appMain.about" class="appMainFooter-linksList--link" title="About">About</a></li>
          <li><a ui-sref="appMain.faq" class="appMainFooter-linksList--link" title="FAQ">FAQ</a></li>
          <li><a href="http://caciviclab.org/opendisclosure/" class="appMainFooter-linksList--link" title="Join us">Join us</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="appMainFooter-taglineText text-right"><em>Brought to you by <a href="http://caciviclab.org/" class="text-nowrap">California Civic Lab</a></em></p>
      </div>
    </div>
  </div>

</footer>
